<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">

		   <div class="row">
		      <div class="col-md-offset-3 col-md-6">
		         
		          			           
		          <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">Add Service</h3>
					  </div>
					     <div class="panel-body">
					      <form th:object="${taskAttribute}" th:action="@{/admin/service/atrs/save}" action="#" method="post">
						  
					         <input type="text" th:field="*{atrStatement}" class="form-control" placeholder="Service Attr Statement"/>
							 
					         							 
					         <div style="clear:both; display:block;height:10px;"></div>
					         <label>Input Type:				         
						         <select th:field="*{atrType}">
									  <option th:each="type : ${types}" 
									          th:value="${type}"
									          th:text="${type}"></option>
								 </select>
							 </label>
							 
							 <div style="clear:both; display:block;height:10px;"></div>					         
					         <input type="text" th:field="*{atrValues}" class="form-control" placeholder="Service Attr No of values"/>
					         
					         <div style="clear:both; display:block;height:10px;"></div>					         
					         <input type="text" th:field="*{step}" class="form-control" placeholder="Service Attr No of values"/>
					         
					         <div style="clear:both; display:block;height:10px;"></div>	
					         <input type="text" readonly th:value ="${task.getTaskName()}"/>
					         <input type="hidden" name="task" th:value="${task.getTaskId()}"/>					         
					         							 
					         <div style="clear:both; display:block;height:10px;"></div>
					         <input type="submit" class="btn btn-primary pull-right" value="Save">
					       </form>
					      </div>
					          
					</div>
		      </div>
		   </div>
		   
		   
		</div>
</body>
</html>