<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Admin Service Attributes Home</title>
</head>
<body layout:fragment="content">

<nav class="navbar navbar-inverse navbar-fixed-top" th:include="fragments/header :: adminHeader"></nav>

<div class="container-fluid">
<div class="row">

		<div class="col-sm-3 col-md-2 sidebar" th:include="fragments/admin-sidebar :: sidebarFragment"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		         <h2 class="page-header" th:text="|Service: ${task.getTaskName()}|"></h2>
		          			           
		          <div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title" >Add Service Attribute Statement</h3>
					  </div>
					     <div class="panel-body">
					      <form th:object="${taskAttribute}" th:action="@{/admin/service/atrs/save}" action="#" method="post">
						  
					         <input type="text" th:field="*{atrStatement}" class="form-control" placeholder="Service Attr Statement"/>
							 
					         							 
					         <div style="clear:both; display:block;height:10px;"></div>
					         <label>Input Type:				         
						         <select th:field="*{atrType}">
									  <option th:each="type : ${types}" 
									          th:value="${type}"
									          th:text="${type}"></option>
								 </select>
							 </label>
							 

							 
					         <label>Steps:				         
						         <select th:field="*{step}" class="selectpicker">
									  <option value="1">1</option>
									  <option value="2">2</option>
								 </select>
							 </label>
							 
					         <div style="clear:both; display:block;height:10px;"></div>	
					         
					         <input type="hidden" name="task" th:value="${task.getTaskId()}"/>					         
					         							 
					         <div style="clear:both; display:block;height:10px;"></div>
					         <input type="submit" class="btn btn-success" value="Save">
					       </form>
					      </div>
					          
					</div>
		      </div>
		   </div>
		   
		   
		   
		      <div class="col-md-offset-2 col-md-10">
		      
		      <a class="btn btn-primary" th:href="@{/admin/service}"><i class="fa fa-arrow-left fa-lg"></i>&nbsp; All Services</a>
		      
		      <h3 class="page-header">All Service Attribute Statements</h3>
		            <div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title" th:text="|Attributes added for ${task.getTaskName()}|">Add Attribute</h3>
					  </div>
					     <div class="panel-body">
					     <p>Here is the list of all user attribute/options statements added for <strong th:text="${task.getTaskName()}"></strong>.</p> 
					     <p>Edit or delete attributes from edit delete icons below. Add options values from manage icon below.</p>
					      </div>
					              <table class="table table-bordered">
									<thead>
									   <tr>									     
									     <th>Statement</th>
									     <th>Attribute Type</th>
									     <th class="text-center">Step No</th>
									     <th class="text-center">Edit/Delete</th>
									     <th class="text-center">Add options</th>
									   </tr>
									</thead>
									<tbody>
									     <tr th:if="${#lists.isEmpty(allAttributes)}" class="btn-warning">
									        <td colspan="4" align="center">No Services added Yet!!!</td> 
									     </tr>
										   <tr th:each="atr : ${allAttributes}">
										     <td th:text="${atr.atrStatement}"></td>
										     <td th:text="${atr.atrType}"></td>
										     <td th:text="${atr.step}"></td>
										     
										     <td align="center">
										        <a th:href="@{/admin/service/atrs/edit/{id}(id=${atr.atrId})}"><i class="fa fa-edit fa-lg"></i></a> &nbsp; &nbsp;
										        <a th:href="@{/admin/service/atrs/delete/{id}(id=${atr.atrId})}"><i class="fa fa-trash fa-lg" style="color:red"></i></a>
										     </td>
										     
										     <td align="center">
										        <a th:href="@{/admin/service/atrs/values/{id}(id=${atr.atrId})}"><i class="fa fa-sliders fa-lg"></i></a>
										     </td>
										   </tr>
									    
									</tbody>
								</table>
					     
					          
					</div>
		       </div>
		   </div>

<div th:include="fragments/footer :: adminFooter"></div>
<div th:include="fragments/js :: js"></div>
	 
</body>
</html>