<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Admin Category Home</title>
</head>
<body layout:fragment="content">

<nav class="navbar navbar-inverse navbar-fixed-top" th:include="fragments/header :: adminHeader"></nav>

<div class="container-fluid">
<div class="row">

		<div class="col-sm-3 col-md-2 sidebar" th:include="fragments/admin-sidebar :: sidebarFragment"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		         <h2 class="page-header">Add Category</h2>
		          <!-- Save Alert Messages -->
			           <div th:if="${saveCategory eq 'unsuccess'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Category Data Not Saved.
							</div>
			           </div>
			           <div th:if="${saveCategory eq 'success'}">
			              <div class="alert alert-success alert-dismissible" role="alert">
							  <strong>Success!</strong> Category Data Saved Successfully.
							</div>
			           </div>
		           
		           <!-- Deletion Alert Messages -->
			            <div th:if="${deletion eq 'unsuccess'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Category Data Not Deleted.
							</div>
			           </div>
			           <div th:if="${deletion eq 'success'}">
			              <div class="alert alert-success alert-dismissible" role="alert">
							  <strong>Success!</strong> Category Data Deleted Successfully.
							</div>
			           </div>
			       
			       <!-- Edit Alert Message -->
			        <div th:if="${status eq 'notfound'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Invalid Category.
							</div>
			           </div>
			           <div th:if="${edit eq 'unsuccess'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Category Data Not Edited.
							</div>
			           </div>
			           <div th:if="${edit eq 'success'}">
			              <div class="alert alert-success alert-dismissible" role="alert">
							  <strong>Success!</strong> Category Data Edited Successfully.
							</div>
			           </div>
			           
		          <div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Add Category</h3>
					  </div>
					     <div class="panel-body">
					      <form th:object="${category}" th:action="@{/admin/category/save}" action="#" method="post">
					         <input type="text" th:field="*{catName}" class="form-control" placeholder="Category Name"/>
					         <div style="clear:both; display:block;height:10px;"></div>
					         <textarea rows="5" th:field="*{catDesc}" class="form-control" placeholder="Category Desc"></textarea>
					         <div style="clear:both; display:block;height:10px;"></div>
					         
					         <select th:field="*{catIcon}">
								  <option th:each="icon : ${icons}" 
								          th:value="${icon}"
								          th:text="${icon}">Icons</option>
							 </select>
							 
							 <div style="clear:both; display:block;height:10px;"></div>
							 
							 <div class="checkbox">
    							<label><input type="checkbox" th:field="*{catMenuFlag}"/>Include in Menu</label>
    						 </div>
							 
					         <div style="clear:both; display:block;height:10px;"></div>
					         <input type="submit" class="btn btn-success" value="Save">
					       </form>
					      </div>
					          
					</div>
		      </div>
		   </div>
		   
		   
		      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		      <h3 class="page-header">All Categories</h3>
		            <div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">All Categories</h3>
					  </div>
					     <div class="panel-body">
					     <p>Here is the list of all available Categories. Manage available Categories from update and delete icons below.</p>
					     </div>
					              <table class="table table-bordered">
									<thead>
									   <tr>
									     <th class="text-center">Icon</th>
									     <th>Name</th>
									     <th>Desc</th>									     
									     <th class="text-center">Edit/Delete</th>
									   </tr>
									</thead>
									<tbody>
									     <tr th:if="${#lists.isEmpty(allCategories)}" class="btn-warning">
									        <td colspan="4" align="center">No Categories added Yet!!!</td> 
									     </tr>
										   <tr th:each="cat : ${allCategories}">
										     <td class="text-center"> <span th:class="${cat.catIcon}"></span></td>
										     <td th:text="${cat.catName}"></td>
										     <td th:text="${cat.catDesc}"></td>										     
										     <td align="center">
										        <a th:href="@{/admin/category/edit/{id}(id=${cat.catId})}"><span class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp;
										        <a th:href="@{/admin/category/delete/{id}(id=${cat.catId})}"><span class="glyphicon glyphicon-trash" style="color:red"></span></a>
										     </td>
										   </tr>
									    
									</tbody>
								</table>
					      
					          
					</div>
		       </div>
		   </div>
		
<div th:include="fragments/footer :: adminFooter"></div>
<div th:include="fragments/js :: js"></div>
	 
</body>
</html>